{{!-- <div class="row ml-1">
  {{#if Categories}}
    {{#each Categories}}
      <div
        onclick="viewDisplay('/admin/subcategoryVIew/{{this._id}}/{{this.name}}')"
        class="card card-for-view-hover m-4"
        style="width: 12rem;"
      >
        <img
          class="card-img-top"
          src="/category-images/{{this._id}}.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <a
            class="btn btn-success"
            href="/admin/edit-category/{{this._id}}/{{this.name}}"
          >Edit</a>
          <a
            href="#"
            class="btn btn-danger"
            onclick="deleteCat('{{this._id}}',',{{this.name}}')"
          >Delete</a>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h3>No data available!</h3>
  {{/if}}
</div> --}}

{{!-- <style>
  .card-for-view-hover:hover{ border: 1px solid black; transform: scale(1.01); }
</style> --}}





<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#if Categories}}
    {{#each Categories}}
    <tr>
      <th scope="row">1</th>
      <td>
         <img
          class="card-img-top"
          src="/category-images/{{this._id}}.jpg"
          alt="loading..."
          style="
          
    width: 65px;
    height: 50px;
    border-radius: 100%;
"
        />
      </td>
      <td>{{this.name}}</td>
      <td>
        <a class="btn btn-success" href="/admin/edit-category/{{this._id}}/{{this.name}}" >Edit</a>
      </td>
      
      <td>
          <a href="#" class="btn btn-danger" onclick="deleteCat('{{this._id}}',',{{this.name}}')" >Delete</a>
      </td>
      <td>
        <a href="#" onclick="viewDisplay('/admin/subcategoryVIew/{{this._id}}/{{this.name}}')">Questions</a>
      </td>
    </tr>
      {{/each}}
  {{else}}
    <tr>
      <td>No data available!</td>
    </tr>
  {{/if}}
    
  </tbody>
</table>