<div class="question-body mt-5">

  {{#if MESSAGE}}
    {{#if MESSAGE.status}}
      <div class="alert alert-success" role="alert">
        {{MESSAGE.message}}
      </div>
    {{else}}
      <div class="alert alert-danger" role="alert">
        {{MESSAGE.message}}
      </div>
    {{/if}}
  {{/if}}

  {{#if response}}
    {{#each response}}
  <form action="/teacher/checkTypeQstnAnswer" method="post">
    <div class="question-body-firstDiv">
    </div>
    <div class="question-body-secondDiv">
      <div class="option-div-body">
        <div class="option-div">
          <textarea disabled name="__answer_select_user" id="" placeholder="Type here..." cols="30" rows="10">{{this.answer}}</textarea>
        </div>
        <div class="option-div">
          <input
            type="radio"
            name="type_question_answer"
            value="correct"
            id=""
          />
          <label for="">Correct </label>
        </div>

        <div class="option-div">
          <input
            type="radio"
            name="type_question_answer"
            value="wrong"
            id=""
          />
          <label for="">Wrong </label>
        </div>
        <input type="text" hidden value="{{this._id}}" name="_id" />
      </div>
    </div>
    <div class="question-body-thirdDiv">
      <div class="submit-div">
        <input type="submit" value="Submit" />
      </div>
    </div>
  </form>
  {{/each}}
  {{else}}
  <h1>!</h1>
  {{/if}}


</div>

<style>
  .question-body-thirdDiv{ text-align: center; } .question-body-secondDiv{
  display: flex; } .question-body-firstDiv{ background-color: #fffbf6;
  border-radius: 4px; padding: 15px; } .question-body{ } .option-div-body{
  width: 100%; margin: 10px; } .option-div{ padding: 10px; background-color:
  #e7e7d6; width: 100%; margin: 10px; } .submit-div{ padding: 9px;
  background-color: #caddca; border-radius: 4px; }
</style>